template
  require(from="perfect-scrollbar/css/perfect-scrollbar.css")
  
  #home-content
    #chart-add
      input#chart-input(type="text" placeholder="SYMBOL" keydown.delegate="handleKeydown($event)" disabled)
      span#chart-add-instruction Press 'Enter' to add

    #no-data(style="visibility: visible;") Loading data ...

    #chart-container(style="visibility: hidden;")
      #chart-area-outer
        #chart-area-inner(style="width: 100%; height: 100%;")
          canvas#chart-main

    #chart-options(style="visibility: hidden;")
      #chart-time
        div#chart-time-title Timescale:
        button.timeline-button(click.delegate="changeTimeline(0)" data-current="true") Monthly
        button.timeline-button(click.delegate="changeTimeline(1)" data-current="false") Quarterly
        button.timeline-button(click.delegate="changeTimeline(2)" data-current="false") Biyearly
        button.timeline-button(click.delegate="changeTimeline(3)" data-current="false") Yearly
      .symbol-name(repeat.for="stock of state.stocks")
        .colour(css="background-color: #${colours[$index]};")
        .name ${stock.symbol}
        img.close(src="https://material.io/tools/icons/static/icons/baseline-close-24px.svg" click.delegate="removeStockSend(stock.symbol)")