template
  #home-content
    #chart-container
      #chart-area-outer
        #chart-area-inner-y-axis(style="width: 3rem; height: 100%;")
          canvas#chart-y-axis
        #chart-area-inner-main(style="width: 100%; height: 100%;")
          canvas#chart-main